[server]
addr = "127.0.0.1:8081"
vcl_validation_url = "http://localhost:8888/validate-vcl"

[db]
dbname = "cdn"
user = "cdn"
password = "password"
host = "127.0.0.1"
port = 5432
sslmode = "verify-full"

[oidc]
issuer = "http://localhost:8080/realms/sunet-cdn-manager"
client_id = "server-client-id"
client_secret = "server-client-secret"
redirect_url = "http://localhost:8081/auth/oidc/keycloak/callback"
