:root {
	--space-medium: 10px;
	--sunet-orange: #f56514;
	--console-sidebar-background-color: #f0f2f5;
}

@media only screen and (prefers-color-scheme: dark) {
	:root {
		--console-sidebar-background-color: #434547;
	}
}
