/*

Configure the grid layout of the console

The goal is:
----------------------
| <header>           |
|---------------------
| <nav> | <main>     |
|       |            |
|       |            |
|       |            |
|       |            |
----------------------
*/

@import "_variables.css";

.console-grid {
	display: grid;

	grid-template-areas:
		"header header"
		"nav main";

	grid-template-rows: auto 1fr;
	grid-template-columns: auto 1fr;

	height: 100vh;
}

.console-grid > header {
	grid-area: header;
	background: var(--sunet-orange);
	padding-top: var(--space-medium);
	padding-right: var(--space-medium);
	padding-bottom: var(--space-medium);
	padding-left: var(--space-medium);
	display:grid;
	grid-template-columns: 1fr 1fr;
	color: #fff;
}

.place-end {
	place-self: self-end;
}

.console-grid > header a {
	color: var(--header-color);
	text-decoration-color: var(--header-color);
}

.sidebar {
	grid-area: nav;
	background-color: var(--console-sidebar-background-color);
}

nav {
	padding-right: var(--space-medium);
	padding-left: var(--space-medium);
}

main {
	grid-area: main;
	padding-right: var(--space-medium);
	padding-left: var(--space-medium);
}

.flash-container {
	position: fixed;
	top: 1rem;
	right: 1rem;
	z-index: 1000;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
